body, html, #root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.App-header {
  width: 100%;
  background-color: #7899da;
  padding: 20px;
  color: white;
  text-align: center;
}

main {
  flex: 1;
  background-color: lavender;
}

.main-page-container {
  display: flex;
  height: 100%;
}

.left-nav {
  width: 300px;
  background-color: #f8f9fa;
}

.content {
  overflow: auto;
  flex: 1;
  padding: 20px;
}
